@use "@style/_variable.module.scss" as variable;
@use "@style/_mixin.module.scss" as mixin;

.container {
    position: relative;

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #0000004d;
        z-index: 1000;
        transition: all 0.3s ease;
    }

    .sideBar {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        width: 350px;
        background-color: variable.$white_color;
        z-index: 1001;
        transform: translateX(350px);
        transition: all 0.3s ease;
    }

    .slideSideBar {
        transform: translateX(0);
    }

    .boxIcon {
        @include mixin.flex_box_custom(center, center);
        position: absolute;
        top: 20px;
        left: -50px;
        width: 35px;
        height: 35px;
        background-color: variable.$white_color;
        border-radius: 50%;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
            background-color: variable.$gray_color;
        }
    }
}
