@use "@style/_variable.module.scss" as variable;
@use "@style/_mixin.module.scss" as mixin;

.container {
  @include mixin.flex_box_custom(space-between, unset, 0px);
  flex-direction: column;
  padding: 30px 20px;
  height: 100vh;

  .boxButton {
    @include mixin.flex_box_custom(space-between, unset, 10px);
    flex-direction: column;
  }
}
