@use "@style/_mixin.module.scss" as mixin;
@use "@style/_variable.module.scss" as variable;
.container {
  @include mixin.flex_box_custom(flex-start, flex-start, 26px);
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;

  .boxClose {
    position: absolute;
    right: 8px;
    top: 6px;
    transform: translateX(10px);
    opacity: 0;
    transition: all 0.3s ease;
  }

  &:hover {
    background-color: #f7f7f7;
    .boxClose {
      transform: translateX(0);
      opacity: 1;
    }
  }

  img {
    width: 70px;
  }
  .boxContent {
    @include mixin.flex_box_custom(center, flex-start, 0px);
    flex-direction: column;

    .title {
      font-size: 16px;
      color: variable.$primary_color;
    }
    .size {
        color: #9e9e9e;
        margin-top: 7px;
        margin-bottom: 10px;
        font-size: 14px;
    }
    .price {
      font-size: 14px;
      color: variable.$fourth_color;
      font-weight: 300;
      margin-bottom: 8px;
    }
    .sku {
      color: variable.$third_color;
      font-size: 16px;
      font-weight: 300;
    }
  }
}
