@use "@style/_mixin.module.scss" as mixin;
@use "@style/_variable.module.scss" as variable;
.container {
  @include mixin.flex_box_custom(center, center, 16px);
  flex-direction: column;
  cursor: pointer;

  .titleStyle {
    position: relative;
    font-size: 18px;
    font-weight: 400;
  }
  .titleStyle::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: variable.$primary_color;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.3s ease;
  }
  &:hover {
    .titleStyle::after {
      transform: scaleX(1);
      transform-origin: left;
    }
  }
}