@use "@style/_mixin.module.scss" as mixin;
@use "@style/_variable.module.scss" as variable;

.boxImg {
    width: 100%;
    height: 100%;
    position: relative;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        cursor: pointer;
    }

    &:hover .showImgWhenHover {
        opacity: 1;
        transition: opacity 0.5s;
    }

    .showImgWhenHover {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .showFuncWhenHover {
        position: absolute;
        right: 0;
        bottom: 20px;
        opacity: 0;
        background-color: variable.$white_color;
    }

    &:hover .showFuncWhenHover {
        opacity: 1;
        right: 20px;
        transition: opacity 0.5s, right 0.3s;
    }

    .boxIcon {
        @include mixin.flex_box_custom(center, center, 0px);
        width: 40px;
        height: 40px;
        cursor: pointer;

        .icon {
            fill: currentColor;
            width: 17px;
            height: 17px;
        }

        &:hover {
            background-color: rgba(0, 0, 0, 0.15);
            transition: background-color 0.5s;
        }
    }
}

.nameClass {
    font-size: 16px;
    color: variable.$fourth_color;
    margin: 6px 0;
}

.priceClass {
    font-size: 14px;
    color: variable.$third_color;
    font-weight: 300;
}
